
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .main-bg {
        background: -webkit-radial-gradient(#ffffff, teal) !important;
        width: 100% !important;
    }
</style>
<!DOCTYPE HTML>
<html lang="zxx">
<body>
    <div class="main-bg">
        <h1></h1>
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                    <img src="~/Content/images/user.jpg" />
                </div>
                <form action="/Account/Dashboard" method="post">
                    <p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
                    <div class="input">
                        <input type="email" placeholder="Email" name="email" required />
                        <span class="fa fa-envelope"></span>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Password" name="password" required />
                        <span class="fa fa-unlock"></span>
                    </div>
                    <button type="submit" class="btn submit">
                        <span class="fa fa-sign-in"></span>
                    </button>
                </form>
                <a href="#" class="bottom-text-w3ls">Forgot Password?</a>
            </div>
        </div>
    </div>
</body>

</html>

