
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";

}

<script>
 
    $(document).ready(function () {
        //PieChart
        var chart = new CanvasJS.Chart("PiechartContainer", {
            theme: "dark2",
            exportFileName: "Doughnut Chart",
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Monthly Expense"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "doughnut",
                innerRadius: 90,
                showInLegend: true,
                toolTipContent: "<b>{name}</b>: ${y} (#percent%)",
                indexLabel: "{name} - #percent%",
                dataPoints: [
                    { y: 450, name: "Food" },
                    { y: 120, name: "Insurance" },
                    { y: 300, name: "Travelling" },
                    { y: 800, name: "Housing" },
                    { y: 150, name: "Education" },
                    { y: 150, name: "Shopping" },
                    { y: 250, name: "Others" }
                ]
            }]
        });
        chart.render();

        function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();
        }

        //Component Chart
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Inventory Record",
                fontFamily: "arial black",
                fontColor: "#695A42"
            },
            axisX: {
                interval: 1,
                intervalType: "year"
            },
            axisY: {
                valueFormatString: "$#0bn",
                gridColor: "#B6B1A8",
                tickColor: "#B6B1A8"
            },
            toolTip: {
                shared: true,
                content: toolTipContent
            },
            data: [{
                type: "stackedColumn",
                showInLegend: true,
                color: "#696661",
                name: "Q1",
                dataPoints: [
                    { y: 6.75, x: new Date(2010, 0) },
                    { y: 8.57, x: new Date(2011, 0) },
                    { y: 10.64, x: new Date(2012, 0) },
                    { y: 13.97, x: new Date(2013, 0) },
                    { y: 15.42, x: new Date(2014, 0) },
                    { y: 17.26, x: new Date(2015, 0) },
                    { y: 20.26, x: new Date(2016, 0) }
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "Q2",
                color: "#EDCA93",
                dataPoints: [
                    { y: 6.82, x: new Date(2010, 0) },
                    { y: 9.02, x: new Date(2011, 0) },
                    { y: 11.80, x: new Date(2012, 0) },
                    { y: 14.11, x: new Date(2013, 0) },
                    { y: 15.96, x: new Date(2014, 0) },
                    { y: 17.73, x: new Date(2015, 0) },
                    { y: 21.5, x: new Date(2016, 0) }
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "Q3",
                color: "#695A42",
                dataPoints: [
                    { y: 7.28, x: new Date(2010, 0) },
                    { y: 9.72, x: new Date(2011, 0) },
                    { y: 13.30, x: new Date(2012, 0) },
                    { y: 14.9, x: new Date(2013, 0) },
                    { y: 18.10, x: new Date(2014, 0) },
                    { y: 18.68, x: new Date(2015, 0) },
                    { y: 22.45, x: new Date(2016, 0) }
                ]
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "Q4",
                color: "#B6B1A8",
                dataPoints: [
                    { y: 8.44, x: new Date(2010, 0) },
                    { y: 10.58, x: new Date(2011, 0) },
                    { y: 14.41, x: new Date(2012, 0) },
                    { y: 16.86, x: new Date(2013, 0) },
                    { y: 10.64, x: new Date(2014, 0) },
                    { y: 21.32, x: new Date(2015, 0) },
                    { y: 26.06, x: new Date(2016, 0) }
                ]
            }]
        });
        chart.render();

        function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>: $<strong>" + e.entries[i].dataPoint.y + "</strong>bn<br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>" + (e.entries[0].dataPoint.x).getFullYear() + "</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> $" + total + "</strong>bn<br/>";
            return (str2.concat(str)).concat(str3);
        }


        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/Home/GetWeek',
            success: function (data) {
                $("#_Week").html(data);
            }
        });

        $("#enter").click(function () {
            debugger;
            var weekno = $("#WeekNo").val();
            if (weekno < 1) {
                $("#error").html("Error: Please add a number greater than 1!");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/Home/SaveWeek',
                    data: { weekno: weekno },
                    success: function (data) {
                        if (data == "True") {
                            window.location.href = "";
                        }
                        else {
                            $("#error").html("Error: This week is already added!");
                        }

                    }
                });
            }
      
        })
        
    })

       

</script>
    
    <style>
        .inner-block {
            padding: 3em 14em 5em 0em;
        }

        .market-update-right i.fa.fa-file-text-o {
            width: 77px;
        }

        .market-update-right i.fa.fa-eye {
            width: 77px;
        }

        .market-update-block.clr-block-0 {
            background: #68ACDE;
            margin-right: 0.8em;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
            -webkit-transition: 0.5s all;
        }

            .market-update-block.clr-block-0:hover {
                background: #3C3C3C;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
            }

        .market-update-right-0 i.fa.fa-file-text-o {
            font-size: 3em;
            color: #68ACDE;
            width: 77px;
            height: 80px;
            background: #fff;
            text-align: center;
            border-radius: 49px;
            -webkit-border-radius: 49px;
            -moz-border-radius: 49px;
            -o-border-radius: 49px;
            line-height: 1.7em;
        }
    </style>
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <div class="header-main">

                   
                    <div class="clearfix"> </div>
                </div>
                <!--heder end here-->
                <!-- script-for sticky-nav -->
                @*<script>
                        $(document).ready(function () {
                            var navoffeset = $(".header-main").offset().top;
                            $(window).scroll(function () {
                                var scrollpos = $(window).scrollTop();
                                if (scrollpos >= navoffeset) {
                                    $(".header-main").addClass("fixed");
                                } else {
                                    $(".header-main").removeClass("fixed");
                                }
                            });

                        });
                    </script>*@
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">
                    <!--market updates updates-->
                    <div class="market-updates" style="margin-bottom:50px">

                        <div class="col-md-3 market-update-gd">
                            <div class="market-update-block clr-block-0">
                                <div class="col-md-8 market-update-left">
                                    <h3>83</h3>
                                    <a href=""><h4>Orders</h4></a>
                                </div>
                                <div class="col-md-3 market-update-right-0">
                                    <i class="fa fa-file-text-o"> </i>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-3 market-update-gd">
                            <div class="market-update-block clr-block-1">
                                <div class="col-md-8 market-update-left">
                                    <h3>83</h3>
                                    <a href=""><h4>Perts</h4></a>

                                </div>
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-file-text-o"> </i>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-3 market-update-gd">
                            <div class="market-update-block clr-block-2">
                                <div class="col-md-8 market-update-left">
                                    <h3>135</h3>
                                    <a href=""><h4>Bridals</h4></a>

                                </div>
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-eye"> </i>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-3 market-update-gd">
                            <div class="market-update-block clr-block-3">
                                <div class="col-md-8 market-update-left">
                                    <h3>23</h3>
                                    <a href=""><h4>Formals</h4></a>

                                </div>
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-envelope-o"> </i>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <div id="PiechartContainer" style="height: 370px; width: 100%;margin-top:50px"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



                    <!--market updates end here-->
                    <!--mainpage chit-chating-->
                    <div class="chit-chat-layer1">
                        <div class="col-md-6 chit-chat-layer1-left">
                            <div class="work-progres">
                                <div class="chit-chat-heading">
                                    Recent Followers
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Project</th>
                                                <th>Manager</th>

                                                <th>Status</th>
                                                <th>Progress</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Face book</td>
                                                <td>Malorum</td>

                                                <td><span class="label label-danger">in progress</span></td>
                                                <td><span class="badge badge-info">50%</span></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Twitter</td>
                                                <td>Evan</td>

                                                <td><span class="label label-success">completed</span></td>
                                                <td><span class="badge badge-success">100%</span></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Google</td>
                                                <td>John</td>

                                                <td><span class="label label-warning">in progress</span></td>
                                                <td><span class="badge badge-warning">75%</span></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>LinkedIn</td>
                                                <td>Danial</td>

                                                <td><span class="label label-info">in progress</span></td>
                                                <td><span class="badge badge-info">65%</span></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Tumblr</td>
                                                <td>David</td>

                                                <td><span class="label label-warning">in progress</span></td>
                                                <td><span class="badge badge-danger">95%</span></td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Tesla</td>
                                                <td>Mickey</td>

                                                <td><span class="label label-info">in progress</span></td>
                                                <td><span class="badge badge-success">95%</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 chit-chat-layer1-left">
                            <div class="work-progres">
                                <div class="chit-chat-heading">
                                    Recent Followers
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Project</th>
                                                <th>Manager</th>

                                                <th>Status</th>
                                                <th>Progress</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Face book</td>
                                                <td>Malorum</td>

                                                <td><span class="label label-danger">in progress</span></td>
                                                <td><span class="badge badge-info">50%</span></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Twitter</td>
                                                <td>Evan</td>

                                                <td><span class="label label-success">completed</span></td>
                                                <td><span class="badge badge-success">100%</span></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Google</td>
                                                <td>John</td>

                                                <td><span class="label label-warning">in progress</span></td>
                                                <td><span class="badge badge-warning">75%</span></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>LinkedIn</td>
                                                <td>Danial</td>

                                                <td><span class="label label-info">in progress</span></td>
                                                <td><span class="badge badge-info">65%</span></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Tumblr</td>
                                                <td>David</td>

                                                <td><span class="label label-warning">in progress</span></td>
                                                <td><span class="badge badge-danger">95%</span></td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Tesla</td>
                                                <td>Mickey</td>

                                                <td><span class="label label-info">in progress</span></td>
                                                <td><span class="badge badge-success">95%</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                    <!--main page chit chating end here-->
                    <!--main page chart start here-->
                    @*<div class="main-page-charts">
            <div class="main-page-chart-layer1">
                <div class="col-md-6 chart-layer1-left">
                    <div class="glocy-chart">
                        <div class="span-2c">
                            <h3 class="tlt">Sales Analytics</h3>
                            <canvas id="bar" height="300" width="400" style="width: 400px; height: 300px;"></canvas>
                            <script>
                                var barChartData = {
                                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "jul"],
                                    datasets: [
                                        {
                                            fillColor: "#FC8213",
                                            data: [65, 59, 90, 81, 56, 55, 40]
                                        },
                                        {
                                            fillColor: "#337AB7",
                                            data: [28, 48, 40, 19, 96, 27, 100]
                                        }
                                    ]

                                };
                                new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 chart-layer1-right">
                    <div class="user-marorm">
                        <div class="malorum-top">
                        </div>
                        <div class="malorm-bottom">
                            <span class="malorum-pro"> </span>
                            <h4>unde omnis iste</h4>
                            <h2>Melorum</h2>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising.</p>
                            <ul class="malorum-icons">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"> </i>
                                        <div class="tooltip"><span>Facebook</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"> </i>
                                        <div class="tooltip"><span>Twitter</span></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"> </i>
                                        <div class="tooltip"><span>Google</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>*@
                    <!--main page chart layer2-->
                    @*<div class="chart-layer-2">

            <div class="col-md-6 chart-layer2-right">
                <div class="prograc-blocks">
                    <!--Progress bars-->
                    <div class="home-progres-main">
                        <h3>Total Sales</h3>
                    </div>
                    <div class='bar_group'>
                        <div class='bar_group__bar thin' label='Rating' show_values='true' tooltip='true' value='343'></div>
                        <div class='bar_group__bar thin' label='Quality' show_values='true' tooltip='true' value='235'></div>
                        <div class='bar_group__bar thin' label='Amount' show_values='true' tooltip='true' value='550'></div>
                        <div class='bar_group__bar thin' label='Farming' show_values='true' tooltip='true' value='456'></div>
                    </div>

                    <script src="~/Content/js/bars.js"></script>

                    <!--//Progress bars-->
                </div>
            </div>
            <div class="col-md-6 chart-layer2-left">
                <div class="content-main revenue">
                    <h3>Total Revenue</h3>
                    <canvas id="radar" height="300" width="300" style="width: 300px; height: 300px;"></canvas>
                    <script>
                        var radarChartData = {
                            labels: ["", "", "", "", "", "", ""],
                            datasets: [
                                {
                                    fillColor: "rgba(104, 174, 0, 0.83)",
                                    strokeColor: "#68ae00",
                                    pointColor: "#68ae00",
                                    pointStrokeColor: "#fff",
                                    data: [65, 59, 90, 81, 56, 55, 40]
                                },
                                {
                                    fillColor: "rgba(236, 133, 38, 0.82)",
                                    strokeColor: "#ec8526",
                                    pointColor: "#ec8526",
                                    pointStrokeColor: "#fff",
                                    data: [28, 48, 40, 19, 96, 27, 100]
                                }
                            ]

                        };
                        new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
                    </script>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>*@

                    <!--climate start here-->


                    <div class="col-md-12 market-update-gd">
                        <div class="market-update-block clr-block-1">
                            <div class="col-md-12">
                                <span style="font-size:36px;color:white">Week No.</span>
                                <span id="_Week" style="font-size:36px;color:white"></span>
                                <br /><br />
                                <div class="col-md-3">
                                    <input  type="number" id="WeekNo" class="form-control" placeholder="Enter Week no.">
                                </div>
                                <div class="col-md-3">
                                    <input id="enter" type="submit" value="Enter" class="btn btn-primary">
                                </div>
                                <div class="col-md-12"><span id="error" style="color:white;font-weight:400"></span></div>
                            </div>
                            <div class="col-md-4 market-update-right">
                                
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                    <div class="clearfix"> </div>

                    <!--climate end here-->
                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                <!--COPY rights end here-->
            </div>
        </div>
        <!--slider menu-->

        <div class="clearfix"> </div>
    </div>

