@model IEnumerable<WebApplication7.Models.ProductionCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>

    .col-lg-2 {
        width: 53.666667%;
    }
    .navbar{
        margin-bottom:0px;
    }
    #cre:hover {
        background-color: #1cc7d0 !important;
        color: #ffffff !important;
    }

    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.755em;
    }

    th {
        height: 50px;
        text-align: left;
        font-weight: 600;
        color: #1cc7d0;
        box-shadow: rgba(0, 0, 0, 0.16) 5px 10px 5px, rgba(0, 0, 0, 0.23) 0px 3px 5px;
    }

    td {
        text-align: left;
    }

    img:hover {
        webkit-filter: blur(4px); /* Chrome, Safari, Opera */
        filter: blur(4px);
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        letter-spacing: 14.5px;
        font-size: 35px;
    }
    #p4 {
        background-color: hsla(120, 60%, 70%, 0.3);
    }
</style>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
        drawTable();
    });
    function drawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        $('#example_wrapper').css("text-align", "right");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        $('#example_filter input').css({ "border": "1px solid #ddd", "height": "30px", "margin-top": "0px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });

        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="form-control-feedback" style="margin-top: -25px;  color: #666;"></span>');
        var list = $("#Position").html();
        $('#example_length').append(
            '<div class="col-md-4">' +
            '<button class="form-control" id="cre" onclick=window.location.href="/ProductionCategories/Create"  value="Create"  style="border-radius:45px; width:135%; margin-bottom:10px; border-color:#1cc7d0;color:#1cc7d0;background-color:#ffffff"><i class="fa fa-plus" aria-hidden="true"></i> Add New</button>' +
            '</div>'
        );
        $("#Class").prepend("<option value='0' selected>All</option>");
    }
</script>

<div class="col-md-12" style="padding:0px" id="maindiv">
<div style="background:linear-gradient(to right, #f7a105 , black);height:100px;padding-top:30px">
    <h2 style="text-align:center;color:white">Tehxeeb Production Category</h2>
</div>
<br /><br /><br />
        <div class="col-md-12" style="padding:0px">
            <div class="col-md-3" style="padding:0px; margin-bottom:20px">
                <div>
                    <a href="#">
                        <img src="~/Content/images/pret741.jpg" style="height:500px;width:100%;border:4px solid white"/>
                        <div class="centered" style="background-color:rgb(255,255,255);opacity:0.8;width:100%;height:80px" ><h1 style="color:black">Prets</h1></div>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="padding:0px; margin-bottom:20px">
                <div>
                    <a href="#">
                        <img src="~/Content/images/lawn.jpg"  style="height:500px;width:100%;border:4px solid white"/>
                        <div class="centered" style="background-color:rgb(255,255,255);opacity:0.8;width:100%;height:80px" ><h1 style="color:black">Formals</h1></div>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="padding:0px; margin-bottom:20px">
                <div>
                    <a href="#">
                        <img src="~/Content/images/black bridal dress.jpg"  style="height:500px;width:100%;border:4px solid white" />
                   
                        <div class="centered" style="background-color:rgb(255,255,255);opacity:0.8;width:100%;height:80px"><h1 style="color:black">Bridals</h1></div>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="padding:0px; margin-bottom:20px">
                <div>
                    <a href="#">
                        <img src="~/Content/images/lawn1.jpg" style="height:500px;width:100%;border:4px solid white" />
                    
                        <div class="centered" style="background-color:rgb(255,255,255);opacity:0.8;width:100%;height:80px" ><h1 style="color:black">Orders</h1></div>
                    </a>
                </div>
            </div>
         </div>
    </div>
